body {
  background-color: #F7F9FD;
  background-color: hsl(214, 64%, 98%);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  color: #808D99;
  color: hsl(208, 11%, 55%);
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #00252E;
  color: hsl(192, 100%, 9%);
}

a {
  text-decoration: none;
}

.user-text {
  margin: 0;
  display: inline-block;
  width: 47%;
}

.credits {
  font-size: 0.75rem;
}

.email-box {
  padding: 10px 20px;
  width: 275px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  border: 2px solid #00252E;
  border-radius: 8px;
}

/*------------------------------------IMAGES--------------------------------*/

.mockups-image {
  width: 55%;
  display: block;
  margin: 25px auto 50px;
}

.top-huddle-logo {
  margin: 75px;
}

.user-image {
  float: left;
  width: 40%;
  margin-left: 75px;
  margin-right: 50px;
}

.logo {
  display: inline-block;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: 25px;
  background-repeat: no-repeat;
}

/*------------------------------------CONTAINERS (DIVS)-----------------------*/

.bottom-container {
  background-color: #00252E;
  background-color: hsl(192, 100%, 9%);
  color: #F7F9FD;
  padding: 105px;
  margin: 0;
}

.bottom-container > div {
  display: inline-block;
  font-size: 0.875rem;
}

.service-description {
  text-align: center;
  width: 60%;
  margin: 0 auto 500px;
}

.inferior-middle-container {
  width: 50%;
  height: 300px;
  background-color: white;
  text-align: center;
  margin: 150px auto;
  padding: 75px;
  box-shadow: 5px 5px 25px gainsboro;
}

.subscribe-container {
  width: 30%;
  margin-left: 100px;
}

.subscribe-heading {
  color: white;
}

.link-container {
  position: relative;
  bottom: 85px;
}

.link-container a {
  display: block;
  color: white;
  margin: 25px;
}

.link-container a:hover {
  color: #808D99;
}

.link-container > div {
  display: inline-block;
}

.brand-container {
  display: inline-block;
  width: 35%;
}

/*--------------------------------------BUTTONS------------------------------*/
/*--- (.btn and variants need to be on top, or else they'll override the more
specific ones.) */

.btn {
   background-color: #ffffff;
   padding: 20px 75px;
   color: #b885ff;
   font-family: 'Open Sans', sans-serif;
   vertical-align: middle;
   box-shadow: 2px 2px 25px gainsboro;
}

.btn:hover {
   background-color: #28597a;
   color: #ccc;
}

.btn:active {
   background-color: #1b435e;
}

.bottom-huddle-logo {
  display: block;
  margin-bottom: 25px;
  width: 240px;
  height: 39px;
  background: url(../images/bottom-huddle-logo.svg) no-repeat;
}

.facebook-btn {
  background-image: url(../images/facebook-logo.svg);
}

.instagram-btn {
  background-image: url(../images/instagram-logo.svg);
}

.twitter-btn {
  background-image: url(../images/twitter-logo.svg);
}

.subscribe-btn {
  border: 0;
  margin-top: 25px;
  background-color: #FF52BF;
  color: #ffffff;
  box-shadow: 0 0 25px #191919;
}

.top-try-btn {
  position: absolute;
  right: 75px;
  top: 75px;
}

.top-get-btn {
  position: relative;
  top: 25px;
  background-color: #FF52BF;
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  box-shadow: 0 0 10px #FF52BF;
}

.top-get-btn:hover {
  box-shadow: 0 0 10px #28597a;
}

.mid-get-btn {
  position: relative;
  background-color: #FF52BF;
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  top: 50px;
}
